<div class="container">
    <h1>Eat-Da-Burger!</h1>

    <div class="row" id="burgers">
        <div class="col-md-6 burgers">
            <h2>Ready Burgers to be devoured:</h2>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger-block devoured=false}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row" id="devoured-burgers">
        <div class= "devoured">
            <h2>Devoured Burgers:</h2>
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        {{> burgers/burger-block devoured=true}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center submit-burger">
                <h2>Insert Burger name:</h2>
                <form class="create-form">
                    <div class="form-group">
                        <label for="burg">Burger Name:</label>
                        <input type="text" id="burger-name" name="burger-name">
                    </div>
                    <button type="submit">Submit</button>
                </form>
                <p>Enter a burger you want to eat Click the "Submit" button.</p>
            </div>
        </div>
    </div>
</div>