<div class="conatiner">
    <div class="row">
        <!-- App opening title -->
        <div class="col-md-12 text-center" id="title">
            <h1>Eat-Da-Burger!</h1>
        </div>

        <!-- List of the burgers -->
        <div class="col-md-6 text center" class="burgerList">
            <div class="row">
                <div class="col-md-3 text-center">
                    <form class="devour-form button-size">
                        <input type="hidden" class="each_burger" type="text">
                        <button type="submit" class="btn btn-default">Devour it!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center submit_burger">
                <form>
                    <input type="text" class="form-control" name="burger_name" value="" id="input_burger">
                    <button type="submit" class="btn btn-primary" id="input_burger_btn">Submit</button>
                </form>
                <p>Enter a burger you want to eat Click the "Submit" button.</p>
            </div>
        </div>
    </div>
</div>