<div class="container">
    <h1>Eat-Da-Burger!</h1>

    <div class="row" id="burgers">
        <div class="col-md-6 not-devoured">
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
    
    <div class="row" id="devoured-burgers">
        <div class="col-md-6 not-devoured">
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center submit-burger">
                <h2>Insert Burger name:</h2>
                <form class="create-form">
                    <input type="text" class="form-control" name="burger-name" value="" id="input-burger">
                    <button type="submit" class="btn btn-primary" id="input-burger-btn">Submit</button>
                </form>
                <p>Enter a burger you want to eat Click the "Submit" button.</p>
            </div>
        </div>
    </div>
</div>