body {
    background-image: url("../img/692405_pastel-tie-dye-free-wallpapers-abstract-wallpapers-timbena-com_1898x1198_h.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    font-family: 'Righteous', cursive;
    font-size: 25px;
    font-weight: bold;
}

p {
    font-family: 'Righteous', cursive;
    font-size: 15px;
    font-weight: bold;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    font-family: 'Righteous', cursive;
}
  
.lead {
    font-family: 'Hanalei Fill', cursive;
    font-size: 45px;
    font-weight: bold;
    color: maroon
}
  
#burger-intro {
    background: #ffdd99;
}

img {
    width: 350px;
    height: 300px;
}

button {
    font-family: 'Acme', sans-serif;
}