<li>
	{{burger_name}}
	
	{{#unless devoured}}
		<button class="change-devour" data-id="{{id}}" data-newsleep="{{sleep}}">
			Devour it!!
		</button>
	{{/unless}}
	
	<button class="delete-btn" data-id="{{this.id}}">Delete</button>
</li>